In [8]:
import pandas as pd
from scipy import stats

In [2]:
cutlet=pd.read_csv('Cutlets.csv')

In [5]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
#The given question is hypothesis testing in the form of 2 sample 2 tail 
#so first we have to find the p value 
#on the basis of the p value we reject the null hypothesis if p< alpha ,and reject alternate hypothesis in case of p> alpha

In [11]:
#to get p value we make use of methods in scipy library
p=stats.ttest_ind(cutlet['Unit A'],cutlet['Unit B'])
print(p)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [17]:
pvalue=p[1]
print(pvalue)
#if give level of significance is 5% ie alpha=.05
#here p> alpha so we have to reject the alternative hypothesis

0.4722394724599501

### so we can infere that both the units are making cutlet of same diameter and the assumption of the 2 unit cutlets of different diameter is wrong

In [19]:
buyer=pd.read_csv('Costomer+OrderForm.csv')
buyer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]