In [9]:
import pandas as pd
from scipy import stats
import numpy as np

In [3]:
sales=pd.read_csv('BuyerRatio.csv')

In [4]:
sales.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
df=sales.iloc[:,1:]
df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [8]:
df.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [13]:
val=stats.chi2_contingency(df)

In [14]:
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [16]:
expected_frequency=val[3]

In [28]:
# to get chi-square we apply formula
chi_square=sum([(o-e)**2/e for o,e in zip(df.values,expected_frequency)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [31]:
#to find the critical value for give significance value and degree of freedom
critical_value=stats.chi2.ppf(.95,3)
critical_value

7.814727903251179

In [34]:
if chi_square_statestic >= critical_value:
    print('Dependent (reject H0:all proportions are equal)')
else:
    print('Independent (fail to reject H0:all proportions are equal)')

Independent (fail to reject H0:all proportions are equal)

In [6]:
#H0:all proportions are equal
#H1:Not all proportions are equal

In [7]:
#Here we make use of chi-square technique to analyse the situation

In [8]:
#for that we first have to find the chi-square value based on the table