In [2]:
import pandas as pd
from scipy import stats

In [49]:
tele=pd.read_csv('Costomer+OrderForm.csv')

In [50]:
tele.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [60]:
len('Defective')

9

In [61]:
#Define hypothesis
#H0:defective % does not varies with respect to center
#Ha:Defective % varies with respect to cnters

In [57]:
#Function which is use to convert error free to value 0 and defective to value 1,which is converting non quantitative elements to quantitative 
def change(x):
    if len(x)==9:
        x=1
    else:
        x=0
    return x

In [52]:
#Function call
tele['Phillippines']=tele['Phillippines'].map(change)
tele['Indonesia']=tele['Indonesia'].map(change)
tele['Malta']=tele['Malta'].map(change)
tele['India']=tele['India'].map(change)

In [53]:
#We can make uses of anova test to arrive at the conclusion for that wew have to find the F value and currosponding p value 
#then compare the p value with the level of significance (alpha=.05) and arrive at a conclusion
tele.head()

   Phillippines  Indonesia  Malta  India
0             0          0      1      0
1             0          0      0      1
2             0          1      1      0
3             0          0      0      0
4             0          0      1      0

In [56]:
values=stats.f_oneway(tele.iloc[:,0],tele.iloc[:,1],tele.iloc[:,2],tele.iloc[:,3])
values

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

In [63]:
#To find the value of F and P
F=values[0]
P=values[1]
alpha=.05

In [65]:
#Comparing the value of p with level of significance (alpha=.05)
if P<alpha:
    print("Reject H0,and accept H1:Defective % varies with respect to centers")
else:
    print("Rejcet H1, and accept H0:defective % does not varies with respect to center")

Rejcet H1, and accept H0:defective % does not varies with respect to center

## Based on the anova hypothesis test we can infer that the Defective percentage does not varies with respect to different center