In [1]:
import pandas as pd 
from scipy import stats

In [2]:
tat=pd.read_csv('LabTAT.csv')

In [5]:
tat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [6]:
#Here we have to determine whaether Turn around time of 4 laboratories are equal or not 
#H0:Average turn around time of all laborataries are equal
#H1:Average turn around time of atleast one of them is differnet

In [7]:
#Here since there are 4 data set to infer from we use the Anova test to arrive at a decision
#step1:we have to find the F value for the test
#step2:For that particular F value we should find the currosponding p value
#step3:compare p value with alpha value and arrive at conclusion

In [13]:
values=stats.f_oneway(tat.iloc[:,0],tat.iloc[:,1],tat.iloc[:,2],tat.iloc[:,3])
print(values)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [15]:
F=values[0]
p=values[1]

In [17]:
#Final decision
#Given level of significance alpha =5%=.05
alpha=.05

In [19]:
if p<alpha:
    print("Reject H0",",","accept H1:The Average turn around time of atleast one of them is differnet")
else:
    print("Reject H1",",","Accept H0:Average turn around time of all laborataries are equal")

Reject H0 , accept H1:The Average turn around time of atleast one of them is differnet

## Final ans:Reject H0 , accept H1:The Average turn around time of atleast one of them is differnet